.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li{
    display: flex;
    padding: 50px;
    margin: 5px;
    font-size: 20px;
    list-style-type: none;
}

.logo{
    width: 100px;
    margin: 30px 30px;
}

.res-card{
    padding: 5px;
    width: 230px;
    margin: 5px;
}

.res-card:hover{
    border: 2px solid black;
    cursor: pointer;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 50%;
}

.filter{
    margin: 10px;
}